---
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'

import { Quote } from 'astro-pure/advanced'
import { getBlogCollection, sortMDByDate } from 'astro-pure/server'
import { Button, Icon, Label } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import Section from '@/components/home/Section.astro'
import SkillLayout from '@/components/home/SkillLayout.astro'
import PostPreviewI18n from '@/components/PostPreviewI18n.astro'
import avatar from '@/assets/avatar.png'

import config from '../../site.config'

// import { useTranslations } from '../../i18n/utils'

// const t = useTranslations('en')

const markup = ['XML', 'HTML', 'MD', 'LaTeX', 'YAML']
const styling = ['CSS', 'Sass', 'Tailwind CSS', 'Bootstrap']
const programming = ['C#', 'JavaScript / TypeScript']
const web_library = ['ASP.NET Core', 'Astro JS', 'Angular', 'React']
const platforms = ['GitHub', 'Firebase', 'Supabase', 'Vercel']

// Get English blog posts only
const MAX_POSTS = 10
const allPosts = await getBlogCollection()
const blogPosts = allPosts.filter(
  (post): post is CollectionEntry<'blog'> => post.collection === 'blog'
)
const englishPosts = blogPosts.filter((post) => post.data.language === 'en')
const allPostsByDate = sortMDByDate(englishPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Home' }} highlightColor='#659EB9'>
  <main class='flex w-full flex-col items-center'>
    <section class='animate mb-10 flex flex-col items-center gap-y-7' id='content-header'>
      <Image
        src={avatar}
        alt='profile'
        class='h-28 w-auto rounded-full border p-1'
        loading='eager'
      />

      <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-3xl font-bold'>{config.author}</h1>
        <div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
          <!-- <Label title='Canary'>
            <Icon name='location' class='size-5' slot='icon' />
          </Label> -->
          <Label title='GitHub' as='a' href='https://github.com/david7ce' target='_blank'>
            <Icon name='github' class='size-5' slot='icon' />
          </Label>
          <Label
            title='LinkedIn'
            as='a'
            href='https://www.linkedin.com/in/david-alonsodd'
            target='_blank'
          >
            <Icon name='link' class='size-5' slot='icon' />
          </Label>
        </div>
      </div>
    </section>

    <div id='content' class='animate flex flex-col gap-y-10 md:w-4/5 lg:w-5/6'>
      <Section title='About'>
        <p class='text-muted-foreground'>Web Developer</p>
        <p class='text-muted-foreground'>
          I'm a web developer passionate about building simple, well-designed software. I value
          minimal, functional design and contribute to the open-source community.
        </p>
        <Button title='More about me' class='w-fit self-end' href='/en/about' style='ahead' />
      </Section>
      {
        allPostsByDate.length > 0 && (
          <Section title='Posts'>
            <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
              {allPostsByDate.map((p) => (
                <PostPreviewI18n post={p as CollectionEntry<'blog'>} />
              ))}
            </ul>
            <Button title='More posts' class='w-fit self-end' href='/en/blog' style='ahead' />
          </Section>
        )
      }

      <Section title='Skills'>
        <SkillLayout title='Markup' skills={markup} />
        <SkillLayout title='Styling' skills={styling} />
        <SkillLayout title='Programming' skills={programming} />
        <SkillLayout title='Web Library' skills={web_library} />
        <SkillLayout title='Platforms' skills={platforms} />
      </Section>
    </div>
    <Quote class='mt-12' />
  </main>
</PageLayout>
